<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="witdth=device-width, initial-scale=1.0">
    <title>Vacation Management</title>
    <style>
        table,
        th,
        td {
            border: 1px solid white;
            border-collapse: collapse;

        }

        th,
        td {
            background-color: #42f5a1;
        }

        em {
            color: #42f5a1;
            font-style: normal;
        }

        p.notetouser {
            color: red;
            font-style: italic;
        }
    </style>
</head>

<body>
    {% block content %}
        { # template inserted here #}
    {% endblock %}

</body>

</html>